*.aux
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.hi
*.hp
*.o
*.prof
*.ttf
.cabal-sandbox/
.direnv
.hpc
.hsenv
.stack-work/
_cache/
_site/
auto/
cabal-dev
cabal.sandbox.config
dist
dist-newstyle
result
stack.yaml.lock
