@charset "UTF-8";

:root {
    --monospace-fonts: "IBM Plex Mono", monospace;
    --serif-fonts: "Sorts Mill Goudy", serif;
}

/* sorts-mill-goudy-regular - latin */
@font-face {
    font-display: swap;
    font-family: "Sorts Mill Goudy";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/sorts-mill-goudy-v16-latin-regular.woff2")
        format("woff2");
}

/* sorts-mill-goudy-italic - latin */
@font-face {
    font-display: swap;
    font-family: "Sorts Mill Goudy";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/sorts-mill-goudy-v16-latin-italic.woff2") format("woff2");
}

/* ibm-plex-mono-regular - latin */
@font-face {
    font-display: swap;
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ibm-plex-mono-v20-latin-regular.woff2") format("woff2");
}

/* ibm-plex-mono-italic - latin */
@font-face {
    font-display: swap;
    font-family: "IBM Plex Mono";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/ibm-plex-mono-v20-latin-italic.woff2") format("woff2");
}
